header {
    background-color: #008000;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 20px 20px 40px;
}

header h1, header h1 a, header h1 a:visited, header h1 a:active {
    color: #171717;
    font-size: 36pt;
    font-family: "Indie Flower";
    text-decoration: none;
    text-align: center;
}


h1 a {
   	font-size: 26pt;
}


html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    clear: both;
    text-align: center;
    font-family: "Indie Flower";
    font-size: 12pt;
    margin-top: -10px;
    height: 30px;
}

.trash_name {
    display: inline-block;
}

.trash_name a {
    color: black;
}

.delete-trash-text a{
    display: inline-block;
    float: left;
    color: #8B0000;
    font-family: "Indie Flower";
    font-size: 18pt;
}

.trash{
    display: block;
    width: 32.5%;
    margin: 5px 5px;
  	padding: 5px; 
   	border: 5px solid grey; 
    font-family: "Indie Flower";
    font-size: 14pt;
    float: left;
    background-color: beige;
}

.addtrash {
    display: block;
    width: 32.5%;
    height: 270;
    margin: 3px 3px;
    padding: 5px; 
    border: 4px solid grey; 
    font-family: "Indie Flower";
    font-size: 14pt;
    float: left;
}

.edit-trash-text a {
    color: #7FFF00;
    font-family: "Indie Flower";
    font-size: 18pt;
    float: right;
}

.pagination {
    margin-top: 20px;
    text-align: center;
    font-family: "Indie Flower";
    font-size: 14pt;
}

.pagination .num-pages {
    text-align: center;
}


.btn-add{
    text-decoration: none; 
    text-align: center; 
    padding: 0px 13px; 
    border: solid 1px #9fa0a1; 
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px; 
    border-radius: 50px; 
    font: 50px Arial, Helvetica, sans-serif; 
    font-weight: bold; 
    color: #eff2f0; 
    background: #008000; 
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    margin-left: 15%;
    margin-top: 10%;
    display: inline-block;
    width: 4.5%;
}

.btn-add:hover {
    text-decoration: none;
    color: #bababa;
}

.error-description {
    text-align: center;
    font-family: "Indie Flower";
    font-size: 18pt;
    color: red;
    margin-top: 300px;
}

.ok {
    text-align: center;
    color: green;
    font-size: 18pt;
    font-family: "Indie Flower";
}