header {
    background-color: #008000;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 20px 20px 40px;
}

header h1, header h1 a, header h1 a:visited, header h1 a:active {
    color: #171717;
    font-size: 36pt;
    font-family: "Indie Flower";
    text-decoration: none;
    text-align: center;
}

h1 a {
   	font-size: 26pt;
}

html, body {
    height: 100%;
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    clear: both;
    text-align: center;
    font-family: "Indie Flower";
    font-size: 12pt;
    margin-top: -5px;
    height: 30px;
}

.trash-info {
	text-align: center;
	font-family: "Indie Flower";
	font-size: 15pt;
	border: solid gray 3px;
	margin: 2px;
	background-color: beige;
}

h2 {
	font-size: 24pt;
	font-family: "Indie Flower";
}

.back {
	text-align: center;
	font-family: "Indie Flower";
	font-size: 16pt;
    clear: both;
}

.btn-danger {
	width: 120px;
	font-size: 12pt;
}


.add-task a {
    color: #7FFF00;
    margin-left: 47.5%;
    font-family: "Indie Flower";
    font-size: 16pt;
}

.task {
	font-family: "Indie Flower";
	font-size: 14pt;
	border: solid gray 2px;
	margin: 2px;
	/*background-color: #D3D3D3;*/
    text-align: center;
    display: block;
    float: left;
    width: 16.35%;
}

.task-info {
    font-family: "Indie Flower";
    font-size: 15pt;
    border: solid gray 2px;
    margin: 2px;
    background-color: #D3D3D3;
    text-align: center;
}


.cleaned-objects {
    font-family: "Indie Flower";
    font-size: 12pt;
    background-color:   #A9A9A9;
    border: solid gray 2px;
}

.cleaned-objects h3 {
    color: #171717;
    text-align: center;
}

.object {
    display: block;
    float: left;
    margin: 0px 10px;
}

.content-trash {
    font-family: "Indie Flower";
    font-size: 12pt;
    background-color:   #A9A9A9;
    border: solid gray 2px;
    margin: 3px;
}
