{% extends 'trash_list/base.html' %}

{% block content %}
<p class="error-description">Error: {{error_description}}</p>
<a class="ok" href="{% url 'trash_detail' pk=pk %}?page={{ pn }}">OK</a>
{% endblock %}