{% load staticfiles %}

<html>
    <head>
        <title>Create task</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Indie+Flower&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/trash.css' %}">
    </head>
    <body>
        <header>
            <h1><a href="/">Trash manager</a></h1>
        </header>
        
        <div class="wrapper">
        	<div class="content">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-success" value="create">
                </form>
                
			</div>
        </div>

        <footer>
            Created by Nikita Batura
        </footer>
    </body>
</html>