{% extends 'trash_list/trash_base.html' %}

{% block title %}
<title>{{task.name}}</title>
{% endblock %}

{% block content %}
<div class="task-info">
	<h2><strong>{{task.name}}</strong></h2>
	<p>created date: {{task.created_date}}</p>
	<p>path: {{task.path}}</p>
	<p>regex: {{task.regex}}</p>
	<p>force: {{task.force}}</p>
	<p>symlink: {{task.symlink}}</p>
	<p>dryrun: {{task.dryrun}}</p>
	<p>status: {{task.status}}</p>
	{% if task.status == 'error' %}
	<p>error description: {{task.error_description}}</p>
	{% endif %}
</div>
<div class="cleaned-objects">
	<h3><strong>Cleaned objects</strong></h3>
	{% for obj in task.objects_for_cleaning.all %}
		<div class="object">
			{% if obj.is_folder == True %}
			<p style="color: mediumturquoise;">{{obj}}</p>
			{% elif obj.is_link == True %}
			<p style="color: green;">{{obj}}</p>
			{% else %}
			<p>{{obj}}</p>
			{% endif %}
		</div>
	{% endfor %}
</div>
<div class='back'>
    <a href="{% url 'trash_detail' pk=pk %}?page={{ pn }}">back</a>
</div>
{% endblock %}