{% extends 'trash_list/trash_base.html' %}

{% block tasks %}
<div class="add-task">
	<a href="{% url 'task_create'  pk=trash.pk %}?page={{ pn }}">add task</a>
</div>
{% for task in tasks %}
	{% if task.status == 'error' %}
	<div class="task" style="background-color: #E3B0B2;">
	{% else %}
	<div class="task" style="background-color: #AADF9F;">
	{% endif %}
		<a href="{% url 'task_detail' pk=task.pk %}?page={{ pn }}">{{ task.name }}</a>
		{% if task.status == 'error' %}
		<p style="color: red;">{{task.status}}</p>
		{% else %}
		<p style="color: green;">{{task.status}}</p>
		{% endif %}
	</div>
{% endfor %}
{% endblock %}