{% load staticfiles %}

<html>
    <head>
        {% block title %}
        <title>{{trash.name}}</title>
        {% endblock %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Indie+Flower&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/trash.css' %}">
    </head>
    <body>
        <header>
            <h1><a href="/">Trash manager</a></h1>
        </header>
        
        <div class="wrapper">
            {% block content %}
        	<div class="content">
				<div class="trash-info">
					<h2><strong>{{trash.name}}</strong></h2>
					<p>used space: {{trash.used_space}} / {{trash.capacity}} mb.</p>
					<p>policy: {{trash.policy}}</p>
					<p>path to trash: {{trash.path}}</p>
					<p>created date: {{trash.created_date}}</p>
                    <div class="content-trash">
                    {% for obj in content_names %}
                        <div style="display: inline-block; width: 10%;">
                            {{obj}}
                        </div>
                    {% endfor %}
                    </div>
                    {% block button %}
                    {% endblock %}
				</div>
                {% block tasks %}
                {% endblock %}
                <div class='back'>
                    <a href="{% url 'trash_list' %}?page={{ pn }}">back</a>
                </div>
			</div>
            {% endblock %}
        </div>

        <footer>
            Created by Nikita Batura
        </footer>
    </body>
</html>