{% extends 'trash_list/trash_base.html' %}
{% load staticfiles %}
{% block title %}
<title>Delete trash :: {{ trash.name }}</title>
{% endblock %}
{% block button%}
<form action="" method="post">
	{% csrf_token %}
	<input type="submit" class="btn btn-danger" value="delete">
</form>
{% endblock %}


