{% extends 'trash_list/trash_base.html' %}
{% load staticfiles %}
{% block title %}
<title>Edit trash :: {{ trash.name }}</title>
{% endblock %}
{% block content %}
<h2><strong>{{trash.name}}</strong></h2>
<form action="" method="post">
	{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-success" value="save">
</form>
<a href="{% url 'trash_list' %}?page={{ pn }}">back</a>
{% endblock %}