{% extends 'trash_list/base.html' %}
{% load staticfiles %}


{% block content %}
	<div class="content">
    {% for trash in trash_list %}
        <div class="trash">
            <div class ="trash_name">
            	<h1><strong><a href="{% url 'trash_detail' pk=trash.pk %}?page={{ pn }}">{{trash.name}}</a></strong></h1>
            </div>
            <p>used space: {{trash.used_space}} / {{trash.capacity}} mb.</p>
            <p>policy: {{trash.policy}}</p>
            <p>path to trash: {{trash.path}}</p>
            <p>created date: {{trash.created_date}}</p>
            <div class ="delete-trash-text">
            	<strong><a href="{% url 'trash_delete' pk=trash.pk %}?page={{ pn }}">delete</a></strong>
            </div>
            <div class="edit-trash-text">
            	<strong><a href="{% url 'trash_edit' pk=trash.pk %}?page={{ pn }}">edit</a></strong>
            </div>
        </div>
    {% endfor %}
    <a href="{% url 'trash_create' %}?page={{ pn }}" class="btn-add">+</a>
    </div>
    {% if paginator.num_pages > 1 %}
    	<div class="pagination">
    		<div class="num-pages">
    			{% for pn in paginator.page_range %}
    				{% if not forloop.first %}
    					&nbsp;&nbsp;|&nbsp;&nbsp;
    				{% endif %}
    				{% if page_obj.number != pn %}
    					<a href="{% url 'trash_list' %}?page={{ pn }}">
    				{% endif %}
    				{{ pn }}
    				{% if page_obj.number != pn %}
    					</a>
    				{% endif %}
    			{% endfor %}
    		</div>
    	</div>
    {% endif %}
    
{% endblock content %}